<TestListeners xmlns="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <TestListener>
    <Name>Example Test Listener</Name>
    <Description>Example test listener.</Description>
    <Status>Active</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>[TestAssemblies]\Quintity.TestFramework.TestListener.Example.dll</Assembly>
    <Type>Quintity.TestFramework.TestListeners.ExampleListener</Type>
  </TestListener>
    <TestListener>
    <Name>Text file listener</Name>
    <Description>Writes results to text file.</Description>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>[TestAssemblies]\Quintity.TestFramework.TestListener.TextFile.dll</Assembly>
    <Type>Quintity.TestFramework.TestListener.TextFile.TextFileListener</Type>
  </TestListener>
  <TestListener>
    <Name>Performance Listener</Name>
    <Description>TestEngineer test listen configuration file.</Description>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>[TestAssemblies]\Quintity.TestFramework.TestListener.Example.dll</Assembly>
    <Type>Quintity.TestFramework.TestListeners.Performance</Type>
  </TestListener>
</TestListeners>